---
noteId: 1785422280451
---

What is the definition, type, pronunciation, and usage of the term **Formal Verification**?

---

- **Type**: Noun Phrase
- **Meaning**: To acquire knowledge or skill through study.
- **Example**:
  - _We perform **formal verification** to guarantee system invariants are never violated._
